<p id="notice"><%= notice %></p>

<p>
	 <strong>id:</strong>
	 <%= @user.id %>
	uuid:
	 <%= @user.uuid %>
	 donno:
	 <%= @user.donno %>
	 wow:
	 <%= @user.wow %>
	 room_id:
	 <%= @user.room_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
