<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
</head>

<div class="container-fluid">
<p id="notice"><%= notice %></p>

<h1>ルーム一覧</h1>

<table>
  <thead>
    <tr>
      <th>ルーム名</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to room.room_name, room %></td>
        <!-- <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいルームを作る', new_room_path %>
</div>