
<p id="notice"><%= notice %></p>
<%= link_to 'ルーム一覧へ', rooms_path %>

	<!--// Header //-->
	<div id="headerContainer" class="container">
	<div class="row">
		<div class="col-sm-3">
			<h1>DONNO</h1>
		</div>
		<div class="col-sm-9">
			<h2>ルーム名：  <%= @room.room_name %></h2>
		</div>
	</div>
	</div>

	<div id="mainContainer" class="container">
		<div class="row">


			<!-- ボタンエリア -->
			<div id="button_area" class="text-center">
				<input type="checkbox"  id ="donno" data-toggle="toggle" data-on="わからん" data-off="わかってる" data-onstyle="danger">
				<button id="wow" class="btn btn-primary btn-big">へぇ〜</button>
			</div>
			<div id="mainDiv" class="col-sm-9 col-xs-9">

				<!--// Submit Area //-->
				<div>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" id="MpInput" class="form-control" placeholder="授業にコメントしよう！" size="80" maxlength="140">
							</div>
							<div class="form-group">
								<input type="button" id="micropost_submit" value="送信" class="btn btn-success">
							</div>
						</div>
				</div>

				<!--// Micro Posts Area //-->
				<div id="microPostDiv">
					<!-- 表示欄 -->
					<ul id="micropost_ul">
					</ul>
				</div>
			</div>

			<!--// Donno Graph Area //-->
			<div id="graphDiv" class="col-sm-3 col-xs-3">
				<div class="graphBars" id="graphDonnoBar">
				</div>
				<div class="graphBars" id="graphWowBar">
				</div>
			</div>
		</div>
	</div>
	<div id="users_count">
		接続人数:
	</div>


<script>
var last = 0;
var get_flag = false;
var donno = false;
var uuid;
var follow = false;
	/*
	console.log("view");
	$("#install").click(function(){
	console.log("view2");
	});*/

$(function(){
	/*if (window.navigator.cookieEnabled) {
		alert("クッキーは利用できます。");	// クッキーの受け入れが有効時の処理
	}
	else {
		alert("クッキーは利用できません。");	// クッキーの受け入れが無効時の処理
	}*/
	uuid = getCookie("uuid");		// count というクッキー名の値を取得
	//console.log(uuid);
	if (!uuid){
		uuid = get_uuid();

		$.ajax({
		url: location.protocol+"//" + location.host +"/users.json",
		type:'post',
		cache: false,
		dataType: 'json',
		data:{
			"user[uuid]": uuid
		}
		}).done(function(data) {
			console.log(data);
			setCookie("uuid", uuid, "", "/", 7);	// クッキー発行
			loadRoom();
		});


	}else{
		console.log(uuid);
		if(get_flag == false){
			get_flag = true;
			loadRoom();
		}
	}
});

function loadRoom(){
if(true){
$("#micropost_ul").ready(function(){
	//console.log("Hello World!");
	//alert("テスト");
	//console.log("<%=@room.id%>");
	//console.log(last);

	if($("#donno:checked").val()){
		donno = true;
	}else{
		donno = false;
	}
	//console.log(donno);
	$.ajax({
		//url:"http://localhost:3000/rooms/1.json?uuid=6fc32589-bd1f-4595-ab6f-981fa861a10c&last=98&donno=true",

		url:location.protocol+"//" + location.host +"/rooms/"+ <%=@room.id%> + ".json?uuid="+uuid+"&donno="+donno+"&last="+last,
		type:'get',
		cache: false,
		dataType: 'json'
	}).always(function(data) {
		console.log(data);
		var microposts = data.microposts
		if(microposts.length!=0){
		last = microposts[microposts.length-1].id;
		}
		/*
		var target = $("#microPostDiv");
		if(target.scrollHeight - target.scrollTop - 50 <= target.clientHeight){
			var follow = true;
		}else{
			var follow= false;
		}
		console.log(follow);
		console.log(target.scrollHeight - target.scrollTop - 50);
		console.log(target.clientHeight);
		console.log(follow);
		*/
		if(microposts.length >= 1){
			for(i=0; i<microposts.length; i++){
				$("#micropost_ul").append("<li>"+microposts[i].content+"</li>");
			}
		}
		console.log(data.users_count);
		console.log(data.users);
		$("#users_count").text("接続人数："+data.users_count);
		if(follow == true){
			var targetY = $("#microPostDiv")[0].scrollHeight;
			console.log(targetY)
			$("#microPostDiv").scrollTop(targetY);
			//$("html, body").animate({scrollTop:targetY});
		}
		$("#graphDonnoBar").css({"height" : parseFloat(data.donno)*100+"%"});
		var wow_rate = parseFloat(data.wow)>1 ? 100 : parseFloat(data.wow)*100
		$("#graphWowBar").css({"height" : wow_rate+"%"});
		console.log(parseFloat(data.donno)*100+"%");
		console.log(parseFloat(data.wow)*100+"%");
		setTimeout("loadRoom()", 3000);
	});
});
}
}

$("#micropost_submit").click(function(){
	var content = $("#MpInput").val();
	$.ajax({
		url: location.protocol+"//" + location.host +"/microposts.json",
		type:'post',
		  headers: {
		    'X-PINGOTHER': 'pingpong'
		  },
		cache: false,
		dataType: 'json',
		data:{
			"micropost[uuid]": uuid,
			"micropost[content]": content,
			"micropost[room_id]": "<%=@room.id%>"
		}
	}).done(function(data) {
		$("#MpInput").val("");
		console.log(data);
	});
});


$("#wow").click(function(){
	//var content = $("#MpInput").val();
	$.ajax({
		url:location.protocol+"//" + location.host +"/users/"+uuid+".json",//uuid
		type:'patch',
		cache: false,
		dataType: 'json',
		data:{
			"user[wow]": "1",
			//"user[uuid]":"XXX",
			//"user[donno]":"true"
		}
	}).done(function(data) {
		console.log(data);
	});
});

function getCookie(name) {
	if (!name || !document.cookie) return;

	var cookies = document.cookie.split("; ");
	for (var i = 0; i < cookies.length; i++) {
		var str = cookies[i].split("=");
		if (str[0] != name) continue;
		return unescape(str[1]);
	}
	return;
}

function setCookie(name, value, domain, path, expires, secure) {
	if (!name) return;

	var str = name + "=" + escape(value);
	if (domain) {
		if (domain == 1) domain = location.hostname.replace(/^[^\.]*/, "");
		str += "; domain=" + domain;
	}
	if (path) {
		if (path == 1) path = location.pathname;
		str += "; path=" + path;
	}
	if (expires) {
		var nowtime = new Date().getTime();
		expires = new Date(nowtime + (60 * 60 * 24 * 1000 * expires));
		expires = expires.toGMTString();
		str += "; expires=" + expires;
	}
	if (secure && location.protocol == "https:") {
		str += "; secure";
	}

	document.cookie = str;
}

function get_uuid() {
  var uuid = "", i, random;
  for (i = 0; i < 32; i++) {
    random = Math.random() * 16 | 0; //"|"はビット論理和

    if (i == 8 || i == 12 || i == 16 || i == 20) {
      uuid += "-"
    }
    uuid += (i == 12 ? 4 : (i == 16 ? (random & 3 | 8) : random)).toString(16);
  }
  return uuid;
}


/*! ========================================================================
 * Bootstrap Toggle: bootstrap-toggle.js v2.2.0
 * http://www.bootstraptoggle.com
 * ========================================================================
 * Copyright 2014 Min Hur, The New York Times Company
 * Licensed under MIT
 * ======================================================================== */

</script>
